<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%- htmlWebpackPlugin.options.metadata.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <!-- <base href="http://localhost:8080/"> -->
    <base href="https://torre.byteden.co.zw">
</head>

<body aurelia-app="main">
</body>

</html>