html,
body {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
    font-family: 'Muli,Helvetica,Arial,sans-serif';
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background-color: #010101;
}

@media (min-width: 1px) {
    .card-columns {
        column-count: 1;
    }
    .search-card {
        /* display: block; */
        max-width: 60%;
    }
}

.skills-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.skill-btn {
    display: inline-block;
}

.search-tab>.active {
    border-bottom: 2px !important;
}

.search-tab>.btn {
    border: hidden;
}

.h-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.h-scroll-element {
    display: inline-block;
}

.theme-dark-primary {
    background-color: #27292D;
    color: rgba(255, 255, 255, 0.65);
}

.theme-dark-secondary {
    background-color: #010101;
    color: rgba(255, 255, 255, 0.90);
}

.btn-primary,
.btn-primary:hover {
    background-color: #CDDC39;
    color: #010101 !important;
}

.btn-outline-secondary,
.btn-outline-secondary:hover {
    border-color: rgba(255, 255, 255, 0.65);
    color: rgba(255, 255, 255, 0.65) !important;
}

.text-secondary {
    color: rgba(255, 255, 255, 0.65) !important;
}

.border-secondary {
    color: rgba(255, 255, 255, 0.65) !important;
}

.btn-dark,
.btn:hover {
    color: #CDDC39;
}

.color-primary {
    color: #CDDC39;
}

.filter-box {
    height: 100%;
    width: 100%;
}