<template>
  <require from="bootstrap/dist/css/bootstrap.min.css"></require>
  <require from="@fortawesome/fontawesome-free/css/all.min.css"></require>
  <require from="@fortawesome/fontawesome-free/css/v4-shims.min.css"></require>
  <require from="./app.css"></require>
  <require from="./navigation/nav-bar/nav-bar"></require>

  <nav-bar></nav-bar>
  <router-view class="route-view" swap-order="after"></router-view>

</template>