<template>

  <div class="container-fluid theme-dark-primary">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-group search-tab theme-dark-primary" role="group" aria-label="Search tab">
          <button type="button"
            class="btn border-primary btn-lg  ${module == 'people' ? 'active color-primary' : 'text-secondary'}"
            click.trigger="setModule('people')">PEOPLE</button>
          <button type="button"
            class="btn border-primary btn-lg  ${module == 'jobs' ? 'active color-primary' : 'text-secondary'}"
            click.trigger="setModule('jobs')">JOBS</button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">

    <div class="col-12 col-lg-4">
      <div class="theme-dark-primary filter-box py-3 h-100">
        <div class="text-center color-primary" if.bind="loading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div if.bind="!loading">
          <h4 class="bg-secondary p-3">Filter ${module} by</h4>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8 p-2">

      <div class="container-fluid theme-dark-secondary">
        <div class="row justify-content-center">

          <div class="col-12 text-center color-primary" if.bind="loading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>

          <!-- <div class="col-10 text-center" if.bind="!loading">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="input-group-text fas fa-search" id="basic-addon1"></i>
              </div>
              <input type="text" class="form-control input-lg" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon1">
            </div>
          </div> -->

          <div class="col-12 text-center" if.bind="!loading">
            <i class="fas fa-angle-left" if.bind="canGoPrev" click.delegate="prev()"></i>
            &nbsp;
            <label>
              <small>${result | paginationDescription}</small>
            </label>
            &nbsp;
            <i class="fas fa-angle-right" if.bind="canGoNext" click.delegate="next()"></i>
          </div>

          <div class="col-12" if.bind="!loading">
            <div class="card search-card mx-auto mt-1 mb-2 theme-dark-primary" repeat.for="item of items"
              if.bind="items && items.length > 0">
              <div class="card-body pb-1">
                <div class="media">
                  <img class="mr-3 rounded-circle" src.bind="item.picture.trim()" alt.bind="item.name"
                    style="max-width: 4rem; max-height: 4rem;" if.bind="isPerson">
                  <img class="mr-3 rounded-circle" src.bind="item.organizations[0].picture.trim()" alt.bind="item.name"
                    style="max-width: 4rem; max-height: 4rem;" else>
                  <div class="media-body">
                    <h5 class="my-0 color-primary" if.bind="isPerson">${item.name}</h5>
                    <h5 class="my-0 color-primary" else>${item.objective}</h5>

                    <p class="card-text my-0" if.bind="isPerson">${item.professionalHeadline}</p>
                    <p class="card-text my-0" else>${item.type}</p>
                    <div class="h-scroll" style="max-width: 100%;" if.bind="!isPerson">
                      <small class="h-scroll-element" repeat.for="o of item.organizations">${o.name}</small>
                    </div>

                    <small if.bind="isPerson">${item.locationName}</small>
                  </div>
                </div>
              </div>

              <div class="card-body pt-0 pb-1" if.bind="!isPerson && item.locations && item.locations.length > 0">
                <div class="skills-box">
                  <small class="h-scroll-element" repeat.for="l of item.locations">${l}</small>
                </div>
              </div>

              <div class="card-body pt-0 pb-1" if.bind="!isPerson && item.compensation && item.compensation.visible">
                <label class="text-secondary"><b>${item.compensation.data | compensation}</b></label>
              </div>
              <div class="card-body pt-0 pb-1" if.bind="!isPerson && item.members && item.members.length > 0">
                <div class="h-scroll " style="max-width: 100vw;">
                  <a class="h-scroll-element" repeat.for="m of item.members">
                    <img class="ml-1 rounded-circle" src.bind="m.picture.trim()" alt.bind="m.username"
                      style="max-width: 2rem; max-height: 2rem;">
                  </a>
                </div>
              </div>

              <div class="card-body pt-0 pb-1" if.bind="item.skills && item.skills.length > 0">
                <div class="skills-box">
                  <button type="button" class="btn btn-outline-secondary rounded-0 mr-1 btn-sm skill-btn "
                    repeat.for="skill of item.skills">${skill.name}
                    <span if.bind="isPerson && skill.weight > 0"> (${skill.weight})</span>
                    <span if.bind="!isPerson && skill.experience"> (${skill.experience})</span>
                  </button>
                </div>
              </div>
              <div class="card-body pt-0" if.bind="isPerson">
                <div class="media">
                  <label class="text-secondary"><small>Open to:</small></label>
                  <div class="media-body">
                    <p class="mb-0 ml-1 text-secondary" repeat.for="ot of item.openTo"
                      if.bind="item.openTo && item.openTo.length > 0"><small>${ot}</small></p>
                  </div>
                </div>
              </div>
              <div class="card-body text-right" if.bind="isPerson">
                <a class="btn btn-dark mb-1" route-href="route: your-genome;">VIEW GENOME</a>
                <button class="btn btn-dark mb-1">MESSAGE</button>
                <button class="btn btn-primary border-0 mb-1">SIGNAL</button>
              </div>
              <div class="card-body text-right" else>
                <button class="btn btn-dark mb-1"><i class="fas fa-thumbs-up"></i></button>
                <button class="btn btn-dark mb-1"><i class="fas fa-thumbs-down"></i></button>
                <button class="btn btn-dark mb-1">ASK A QUESTION</button>
                <button class="btn btn-dark mb-1">REFER SOMEONE</button>
                <button class="btn btn-primary border-0 mb-1">VIEW</button>
              </div>
            </div>
          </div>

          <div class="col-12 text-center" if.bind="!loading">
            <i class="fas fa-angle-left" if.bind="canGoPrev" click.delegate="prev()"></i>
            &nbsp;
            <label>
              <small>${result | paginationDescription}</small>
            </label>
            &nbsp;
            <i class="fas fa-angle-right" if.bind="canGoNext" click.delegate="next()"></i>
          </div>

        </div>
      </div>

    </div>
  </div>

</template>