<template>

  <div class="container-fluid theme-dark-primary w-100 h-100">
    <div class="row">
      <div class="col-12 px-0">
        <hr class="m-0 border-secondary" />
      </div>
      <div class="col-12" style="--view-height: 1vh;">
        <h4 class="m-2 py-2">${userData.person.name}'s personal genome</h4>
      </div>
      <div class="col-12 px-0">
        <hr class="m-0 border-secondary" />
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="card-deck my-3">
          <div class="card mx-auto theme-dark-primary py-2" style="max-width: 50rem;">
            <div class="row">
              <div class="col-12 text-center">
                <img class="card-img-top rounded-circle" src.bind="userData.person.picture"
                  alt.bind="userData.person.username" style="max-height: 6rem; max-width: 6rem;">
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4>${userData.person.name}</h4>
                  <h5>${userData.person.professionalHeadline}</h5>
                </div>
                <div class="col-12">
                  <label>${userData.person.location.name}</label>
                </div>
                <div class="col-12" if.bind="userData.person.summary">
                  <p>${userData.person.summary}</p>
                </div>
                <div class="col-12">
                  <hr />
                </div>
                <div class="col-12" if.bind="userData.languages && userData.languages.length > 0">
                  <h5>Languages</h5>
                  <span class="badge badge-pill badge-secondary m-1 p-2" repeat.for="language of userData.languages">
                    <h6 class="m-0 p-0">${language.language} (${language.fluency})</h6>
                  </span>
                </div>
                <div class="col-12">
                  <br />
                </div>
                <div class="col-12" if.bind="userData.strengths && userData.strengths.length > 0">
                  <h5>Current skills</h5>
                  <span class="badge badge-pill badge-secondary m-1 p-2" repeat.for="skill of userData.strengths">
                    <h6 class="m-0 p-0">${skill.name}</h6>
                  </span>
                </div>
                <div class="col-12">
                  <br />
                </div>
                <div class="col-12" if.bind="userData.interests && userData.interests.length > 0">
                  <h5>Industries and sectors interests</h5>
                  <span class="badge badge-pill badge-secondary m-1 p-2" repeat.for="i of userData.interests">
                    <h6 class="m-0 p-0">${i.name}</h6>
                  </span>
                </div>
                <div class="col-12">
                  <hr />
                </div>
                <div class="col-12" if.bind="userData.education && userData.education.length > 0">
                  <h5>Education</h5>
                  <div repeat.for="e of userData.education">
                    <label class="color-primary">${e.name}</label>
                    <br />
                    <img class="ml-1 rounded-circle" src.bind="o.picture.trim()" alt.bind="o.name"
                      style="max-width: 2rem; max-height: 2rem;" repeat.for="o of e.organizations"
                      if.bind="e.organizations">
                    <br />
                    <small>${e.fromMonth} ${e.fromYear} - ${e.toMonth} ${e.toYear}</small>
                  </div>
                </div>
                <div class="col-12">
                  <br />
                </div>
                <div class="col-12" if.bind="userData.jobs && userData.jobs.length > 0">
                  <h5>Work experiences</h5>
                  <div class="media my-1" repeat.for="item of userData.jobs">
                    <img class="mr-3 rounded-circle" src.bind="item.organizations[0].picture.trim()"
                      alt.bind="item.organizations[0].name" style="max-width: 4rem; max-height: 4rem;">
                    <div class="media-body">
                      <div repeat.for="o of item.organizations">
                        <label class="color-primary">${o.name}</label>
                        <br />
                      </div>
                      <small>${item.fromMonth} ${item.fromYear} - ${item.toMonth} ${item.toYear}</small>
                      <ul class="mb-0" if.bind="item.responsibilities">
                        <li repeat.for="r of item.responsibilities">
                          <p class="mb-0">${r}</p>
                          <br />
                        </li>
                      </ul>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>