<template>
  <nav id="navy" class="navbar navbar-expand-lg theme-dark-primary px-2">
      <i class="fas fa-bars fa-lg"></i>
    <a class="navbar-brand text-secondary ml-3"><h3>torre</h3></a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <div class="row">
          <div class="col-8">
            <ul class="navbar-nav mr-auto pull-right">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active color-primary' : 'inactive'} mr-3">
                  <a class="text-center text-secondary" href.bind="row.href">
                    <i class="${row.config.settings.iconClass} ml-2"></i>
                    <br>
                    <small class="mr-1">${row.config.title}</small>
                  </a>
                </li>
              </ul>
          </div>
          <div class="col-4">
            <form class="form-inline">
              <a class="btn btn-outline-secondary bd-color-primary btn-sm rounded-0">Login or Register</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

</template>